$breakpoint-medium: 48em;
$breakpoint-large: 64em;

$max-width: 75em;

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Texts Sizes
$text-xs: 0.563rem;
$text-sm: 0.75rem;
$text-md: 1rem;
$text-lg: 1.333rem;
$text-xl: 1.777rem;
$text-2xl: 2.369rem;
$text-3xl: 3.157rem;
$text-4xl: 4.209rem;
