@use "../abstracts/mixins" as *;

.container .flex-row {
  margin: 0 -1rem;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

  .column {
    width: 100%;
    padding: 0 1rem;

    .small-6 {
      width: calc(100% / 12 * 6);
    }

    .medium-6 {
      @include screen-medium {
        width: calc(100% / 12 * 6);
      }
    }

    .large-6 {
      @include screen-large {
        width: calc(100% / 12 * 6);
      }
    }
  }
}
